
body {
    background-color: #eeeeee;
    background-image: url("https://media2.trover.com/T/54308c3cd6bdd44d40004cb4/fixedw_large_4x.jpg");
}

.timer {
    text-align: center;
    font-size: 30px;
}

.quiz-box {
    width: 590px;
    height: 570px;
    padding: 10px 50px 50px 50px;
    margin: 0 auto;
    background-color: deepskyblue;
    
}

.quiz-box h1 {
    font-family: "palatino linotype";
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    border-radius: 50px;
    background-color: darkgreen;
}

.quiz-box #questions {
    font-size: 30px;
    font-family: "palatino linotype";
    color: black;
}

#button0, #button1, #button2, #button3 {
    background-color: burlywood;
    width: 250px;
    font-size: 25px;
    color: black;
    border: 1px solid #1D3C6A;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#button0:hover, #button1:hover, #button2:hover, #button3:hover {
    cursor: pointer;
    background-color: lightgreen;
}

#quiz-progress {
    color: black;
    font-size: 22px;
    font-family: "palatino linotype";
}

#score {
    text-align: center;
    font-size: 30px;
    color: black;
}